a
{
    color: #fff;
    text-transform: capitalize;
}
a:hover
{
    color: gainsboro;
}
.all
{
    background-color: #0D0D05;
    
}

.all nav
{
    height: 90px;
    color: #ffff;
}

.home
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.home .card
{
    border:  1px solid aqua;
}

.footer
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer ul
{
    display: flex;
    justify-content: center;
    text-align: inline;
    list-style-type: none;
}
.footer a
{
    color: aqua;
    text-transform: capitalize;
    padding-top: 20px;

}