<div class="alert alert-success alert-dismissible fade show" role="alert">
    <h5 class="alert-heading">Prérequis</h5>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">×</span>
    </button>
 </div>